DB_URI=your_mongodb_atlas_connection_string
PORT=3000
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_this_password_to_anything_you_want_with_no_spaces_or_special_characters
SESSION_SECRET=change_this_session_secret_to_anything_you_want_with_no_spaces_or_special_characters
